section.about
    .container
        .title.titleWithBottomLine
            h2.title.titleHeader About us
            .titleText We are added our mahor Services

        ul.aboutList
            li.aboutItem
                .icon.iconLike
                h3.aboutHeader Facebook Marketing
                p.aboutDesciption.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever

            li.aboutItem
                .icon.iconBook
                h3.aboutHeader Facebook Marketing
                p.aboutDesciption.
                    Lorem Ipsum is simplu dummy text of the providen and Lorem Ipsum is simplu dummy text of the providen

            li.aboutItem
                .icon.iconMessage
                h3.aboutHeader Facebook Marketing
                p.aboutDesciption.
                    Lorem Ipsum is simplu dummy text of the providen and Lorem Ipsum is simplu dummy text of the providen