section.approach
    .container
        .title.titleWithBottomLine
            h2.title.titleHeader Our Approach
            .titleText Check Our approacjes step by step ( how we do it )

        ul.approachList
            li.approachItem
                .approachImage
                    img.approachPicture(src="../images/step-1.jpg" alt="picture")
                    .approachStep step
                .approachText
                    .approachTitle Step 1 : Heading Here
                    p.approachDescription.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            li.approachItem
                .approachImage
                    img.approachPicture(src="../images/step-2.jpg" alt="picture")
                    .approachStep step
                .approachText
                    .approachTitle Step 2 : Heading Here
                    p.approachDescription.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            li.approachItem
                .approachImage
                    img.approachPicture(src="../images/step-3.jpg" alt="picture")
                    .approachStep step
                .approachText
                    .approachTitle Step 3 : Heading Here
                    p.approachDescription.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            li.approachItem
                .approachImage
                    img.approachPicture(src="../images/step-4.jpg" alt="picture")
                    .approachStep step
                .approachText
                    .approachTitle Step 4 : Heading Here
                    p.approachDescription.
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.