section.formSection 
    .container
        .title
            h2.title.titleHeader Get Your Facebbok Analysis Now
            .titleText Enter yoy details bellow

        .btnDown: a.arrowDown: i.fa.fa-angle-down

        .formContainer.isHidden
            form(method="post" action="#").form
                button(type="button").formCloseButton x
                .formText.
                    Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
                .formFields
                    input.formInput(type="text" placeholder="Your Name")
                    input.formInput(type="text" placeholder="Contact Number")
                    input.formInput(type="text" placeholder="Contact Name")
                button(type="submit").button.buttonRed.buttonUpper Submit Now