section.formSection 
    .container
        .title
            h2.title.titleHeader Get Your Facebbok Analysis Now
            .titleText Enter yoy details bellow

        .btnDown: a.arrowDown(href="#"): i.fa.fa-angle-down

        .formContainer.isHidden
            form(method="post" action="#").form
                button(type="button").formCloseButton x
                .formText.
                    Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
                .formFields
                    input.formInput(type="text" placeholder="Your Name" data-valid="required")
                    input.formInput(type="text" placeholder="Contact Number" data-valid="required" data-number)
                    input.formInput(type="email" placeholder="Email" data-valid="required" data-email)
                button(type="submit").button.buttonRed.buttonUpper Submit Now