section.work

    .container

        .title.titleWithBottomLine
            h2.title.titleHeader Our Work
            .titleText We are added our works bellow

        ul.workList

            li.workItem.workItemName
                .workName Project Name
                .workDescription Facebook marketting

            li.workItem: img.workPicture(src="images/work-1.jpg" alt="picture")

            li.workItem.workItemName
                .workName Project Name
                .workDescription Landing page

            li.workItem: img.workPicture(src="images/work-2.jpg" alt="picture")

            li.workItem: img.workPicture(src="images/work-3.jpg" alt="picture")

            li.workItem.workItemName
                .workName Project Name
                .workDescription Facebook marketting

            li.workItem: img.workPicture(src="images/work-4.jpg" alt="picture")

            li.workItem.workItemName
                .workName Project Name
                .workDescription Facebook marketting

            